:root {
  --primary-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --primary-accent: hsl(277, 64%, 61%);

  --color-white: hsl(0, 0%, 100%);
  --color-white-1: hsla(0, 0%, 100%, 0.75);
  --color-white-2: hsla(0, 0%, 100%, 0.6);

  --fw-400: 400;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  min-width: 114rem;
  background: var(--primary-bg);
}
